    <%-include('./partials/head')%>
    <link rel="stylesheet" href="/css/index.css">
    <title>Ecommerce</title>
</head>
<body>
    <%-include('./partials/header')%>
    <!-- TODO: MAIN -->
    <main> 
<h1>Hola mundo</h1>
    </main>
    <%-include('./partials/footer')%>
</body>
</html>